.topic-line{
	clear: both;
}

hr{
	margin-top: 0px;
}

h3{
	margin-bottom: 0px;
}

h4{
	margin-bottom: 0px;
}

h5{
	margin-top: 0px;
}


.contact-container{
	float:right;
}

.contact-container li{
	display:inline-block;
	border-right: 2px solid black;
	padding-right: 5px;
}

.indented{
	display:inline-block;
	float:right;
	max-width: 75%;
	min-width: 75%;
}
